.clock {
  display: none;
  color: var(--color-blue-gold);
  font-size: 30px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

@media only screen and (min-width: 1440px) {
  .clock {
    display: block;
  }
}
