.backdrop {
  background-color: var(--color-blue);
  width: 100vw;
  height: 100vh;
  padding-top: 127px;
}

.login-modal {
  position: relative;
  padding: 80px 40px 40px;
  width: 580px;
  min-height: 516px;
  border-radius: 18px;
  border: 2px solid var(--color-black);
  background-color: var(--color-light-gray);
  margin: 0 auto;
}
.login-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
}
.login-btn-icon {
  stroke: var(--color-black);
  fill: transparent;
}
.login-form {
}
.login-field {
  position: relative;
  margin-bottom: 28px;
}

.login-field-input {
  width: 500px;
  border-radius: 40px;
  border: 2px solid var(--color-black);
  padding: 20px 40px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.login-field-input::placeholder {
  color: var(--color-black);
}
.login-field-icon {
  stroke: var(--color-black);
  fill: transparent;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);

  fill: none;
  stroke: #404040;
  pointer-events: none;
}
.login-submit-btn {
  width: 500px;
  padding: 20px;
  border-radius: 40px;
  background: var(--color-black);
  color: #f3f3f3;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}
.login-sign {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.login-sign-up {
  color: var(--color-blue);
}
.login-sign-in {
  color: var(--color-blue);
}
.is-off {
  color: var(--color-black-transparent);
  text-decoration: none;
}
