.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.login-open {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.backdrop {
  background-color: var(--color-blue);
  width: 100vw;
  height: 100vh;
  padding-top: 127px;
  transition: opacity 800ms ease-in-out, visibility 800ms ease-in-out;
}
.backdrop.is-hidden {
}
.login-modal {
  position: relative;
  padding: 40px 20px;
  min-width: 320px;
  max-width: 335px;
  /* min-height: 300px; */
  border-radius: 18px;
  border: 2px solid var(--color-black);
  background-color: var(--color-light-gray);
  margin: 0 auto;

}
@media screen and (min-width: 768px) {
  .login-modal {
    padding: 80px 40px 40px;
    max-width: 580px;
    max-height: 516px;
  }
}

.login-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.login-btn:hover,
.login-btn:focus {
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .login-btn {
    top: 24px;
    right: 24px;
  }
}

.login-btn-icon {
  stroke: var(--color-black);
  fill: none;
}

@media screen and (min-width: 768px) {
  .login-btn-icon {
    width: 28px;
    height: 28px;
  }
}

.login-form {
}
.login-field-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .login-field-container {
    gap: 28px;
  }
}

.login-field {
  position: relative;
}

.login-field-input {
  max-width: 295px;
  width: 100%;
  border-radius: 40px;
  border: 2px solid var(--color-black);
  padding: 16px 24px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .login-field-input {
    max-width: 500px;
    padding: 20px 40px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }
}
.login-field-input:focus {
  border: 2px solid var(--color-blue);
  outline: none;
}
.login-field-input:focus ~ .login-field-icon {
  stroke: var(--color-blue);
}

.login-field-input::placeholder {
  color: var(--color-black);
}

#login-field-name {
}
#login-field-name.is-hidden {
  position: absolute;
}

.modal-error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: darkgreen;
  font-size: 12px;
  transform: translateY(120%);
  letter-spacing: -0.3em;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1),
    letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0s cubic-bezier(0.4, 0, 0.2, 1);
}
.login-field-input:not(:placeholder-shown):required:invalid
  ~ .modal-error-message {
  opacity: 1;
  letter-spacing: -0.02em;
  transition-delay: 1s;
  color: brown;
}

.login-field-icon {
  stroke: var(--color-black);
  fill: transparent;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  stroke: var(--color-black);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .login-field-icon {
    width: 28px;
    height: 28px;
    right: 32px;
  }
}

.login-submit-btn {
  max-width: 295px;
  width: 100%;
  padding: 16px;
  border-radius: 40px;
  background: var(--color-black);
  color: #f3f3f3;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 14px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  border: 2px solid var(--color-black);
}
.login-submit-btn:hover,
.login-submit-btn:focus {
  background-color: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .login-submit-btn {
    max-width: 500px;
    padding: 20px;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
  }
}

.login-sign {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .login-sign {
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 1.33;
  }
}

.login-sign-up {
  color: var(--color-black-transparent);
  cursor: pointer;
}
.login-sign-in {
  color: var(--color-black-transparent);
  cursor: pointer;
}
.active {
  color: var(--color-blue);
  text-decoration: underline;
}
.login-logout {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
