.modal-backdrop.is-shown {
  background: rgba(17, 17, 17, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-shown {
  position: fixed;
  background-color: var(--color-body-bg);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 40px;
  min-width: 335px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
  border: 2px solid var(--color-black);
  border-radius: 18px;
}

.modal-shown.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s;
}

.modal-shown.show {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-shown.show.fade-out {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-shown {
    width: 579px;
    height: 465px;
    padding: 40px;
  }
}

/* .close {
  position: absolute;
  top: 100px;
  right: 12px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
} */

@media only screen and (min-width: 768px) {
  .close {
    top: 24px;
    right: 15px;
  }
}
.close-icon {
  fill: var(--color-black);
}
.close-icon:hover,
.close-icon:focus {
  fill: var(--color-blue);
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .modal-book-card {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .book-id {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-bottom: 10px;
  }
}

.modal-cover {
  height: 408px;
  width: 287px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .modal-cover {
    height: 281px;
    width: 192px;
  }
}

.heading {
  max-width: 260px;
}

.modal-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.modal-author {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: var(--color-gray);
}

.modal-description {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.book-shops {
  display: flex;
  align-items: center;
  gap: 20px;
}

.book-info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop {
  filter: var(--shop);
}
.shop:hover {
  filter: var(--shop-hover);
}

.shops-item-icon-book {
  filter: var(--shop-book);
}

.shops-item-icon-book:hover {
  filter: var(--shop-hover-book);
}
.add-button,
.remove-button {
  display: inline-block;
  background-color: transparent;
  padding: 20px;
  min-width: 211px;
  color: var(--color-black);
  font-size: 14px;
  line-height: 18px;
  border: 2px solid var(--color-blue);
  border-radius: 40px;
  text-align: center;
}
.add-button:focus,
.remove-button:focus {
  background: var(--color-blue);
  color: var(--color-white-all-time);
  text-align: center;
}
.add-button:hover,
.remove-button:hover {
  background: var(--color-blue);
  color: var(--color-white-all-time);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .add-button,
  .remove-button {
    width: 499px;
    font-size: 18px;
    line-height: 24px;
  }
}

.add-success-message {
  display: block;
  margin: 8px auto 0;
  width: 242px;
  color: var(--color-black-transparent);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
@media screen and (min-width: 768px) {
  .add-success-message {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }
}
