.shoping-list {
  padding: 0;
  margin: 0 auto;
}

.shopping-plug {
  max-width: 335px;
}

.support-none {
  display: none;
}

@media only screen and (min-width: 768px) {
  .shopping-plug {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-plug {
    max-width: 996px;
    width: 996px;
  }

  .support-none {
    display: block;
  }
}

.shopping-plug-text {
  width: 244px;
  color: var(--color-gray-shopping);
  text-align: center;
  letter-spacing: -0.28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .shopping-plug-text {
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-top: 140px;
    margin-bottom: 20px;
  }
}

.shopping-plug-img {
  margin-left: auto;
  margin-right: auto;
}

.img-card {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .img-card {
    width: 116px;
    height: 165px;
  }
}

.shopping-title {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.shopping-category {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .shopping-category {
    margin-bottom: 14px;
  }
}

.shopping-description {
  width: 193px;
  max-height: 68px;
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .shopping-description {
    width: 508px;
    overflow: visible;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-description {
    width: 808px;
  }
}

.shopping-author {
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.shopping-border {
  position: relative;
  display: flex;
  width: 335px;
  height: 170px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .shopping-border {
    width: 704px;
    height: 213px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-border {
    width: 996px;
  }
}

.inform-box {
  margin-left: 14px;
}

@media only screen and (min-width: 768px) {
  .inform-box {
    margin-left: 24px;
  }
}

.shopping-button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

@media only screen and (min-width: 768px) {
  .shopping-button {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
}

.shopping-delete-icon {
  fill: var(--color-white);
}

.shopping-link {
  position: absolute;
  display: flex;
  bottom: 14px;
  right: 14px;
  padding: 0;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .shopping-link {
    bottom: 24px;
    right: 24px;
    gap: 16px;
  }

  .shops-icon-amazon {
    width: 48px;
    height: 15px;
  }

  .shop-icon-book {
    width: 22px;
    height: 23px;
  }
}

.shops-icon-amazon {
  width: 32px;
  height: 11px;
}

.shop-icon-book {
  width: 13px;
  height: 15px;
}
