.container {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 80px;
}

.sidebar {
  column-gap: 32px;
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 32px 100px;
  }
  .sidebar {
    flex-direction: row;
    width: 704px;
    margin-bottom: 98px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding: 40px 24px 72px;
  }
  .sidebar {
    flex-direction: column;
    margin-right: 40px;
    width: 356px;
    row-gap: 86px;
  }
}
