<div class="modal">
  <div class="modal-content">
    <button class="close" type="button">
      <svg class="close-icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-book-card">

    </div>
    <div>
        <button type="submit" class="add-button">Add to shopping list</button>
        <button type="submit" class="remove-button">Remove from the shopping list</button>
    </div>
  </div>
</div>
<script src="./js/modal.js" type="module"></script>
